@font-face {
  font-family: 'NotoSansCJKkr';
  src: url('assets/fonts/NotoSansCJKkr-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'NotoSansCJKkr';
  src: url('assets/fonts/NotoSansCJKkr-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'NotoSansCJKkr';
  src: url('assets/fonts/NotoSansCJKkr-Bold.otf');
  font-weight: 700;
}
